
{% load static %}



<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('{% static "img/formularioexitoso.jpg" %}');
        background-size: cover;
        background-position: center;
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(24, 29, 56, 0.7); /* Color arriba de la imagen de fondo */
    }

    .container {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 600px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .container img {
        width: 40%;
        border-radius: 8px;
    }

    .container .text {
        width: 55%;
        text-align: center;
    }

    @media (max-width: 768px) {
        .container {
            width: 90%;
        }

        .container img {
            width: 70%;
            margin-bottom: 20px;
        }

        .container .text {
            width: 100%;
        }
    }
</style>
</head>
<body>
<div class="overlay"></div>
<div class="container">
    <img src="{% static 'img/innovalogo.jpg' %}" alt="Imagen">
    <div class="text">
        <h2>¡Gracias por registrarte! <br> Estaremos en contacto muy pronto</h2>
    </div>
</div>
</body>