
{% extends 'base.html' %}
{% load static %}

{% block title %}Formulario Enviado Exitosamente{% endblock %}

{% block content %}

    <div class="row flex-grow-1 container-fluid my-5 ">
        <div class="col-12 col-md-6 offset-md-3 d-flex align-items-center justify-content-center">
            <div class="container my-5">
                <h2 class="text-center">Formulario Enviado Exitosamente</h2>
                <p class="text-center">¡Gracias por enviar el formulario!</p>
                <!-- Puedes agregar aquí más detalles o enlaces adicionales -->
            </div>
        </div>
    
{% endblock %}
